#heading{
    padding-left: 25%;
    vertical-align:middle;
    font-family:'Times New Roman', Times, serif;
    color: red;
    font-size: 1.52cm;
    padding-top: 0.5cm;
}
.header {
    display: flex;
    }

.head{
    margin: 1cm;
    font-size: 0.6cm;
    font-weight: 800;
    font-stretch: semi-expanded;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.links-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5.5cm;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.links-container > div{
        background-color: rgba(230, 5, 5, 0.93);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 9px;
        padding: 1px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 5.5cm;

}

.homepage{
    text-decoration: none;
    color: aliceblue;
}
.homepage:hover{
    color:antiquewhite;
    text-transform:uppercase;
    
}
.tagline>div{
    background-image: linear-gradient(to right,rgba(235, 62, 62, 0.704),pink,rgba(255, 192, 203, 0.145));
    height: 7cm;
    padding-top: 0.6cm;
    padding-left: 0.8cm;
    color:white;
}
.offers{
    display: flex;
    flex-wrap: wrap;
    gap: 3cm;
    padding-left: 1.3cm;
}
.offers>div{
    width: 6.3cm;
    height: 10cm;
    border: 2px solid rgba(208, 188, 188, 0.29);
    border-radius: 9px;
    box-shadow:  5px 5px 5px gray;
    padding-left: 0.3cm;
    padding-right: 0.3cm;
    
    
}
.offers>div>h3{
    font-size: 0.6cm;
    padding-left: 0.3cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.condition{
    display: flex;
    gap: 4cm;
    padding-left: 1.68cm;
}
.condition > div{
    width: 6cm;
    height: 1.3cm;
    text-align: center;
    background-color: rgba(220, 20, 60, 0.31);
    border: 2px solid rgba(159, 156, 156, 0.253);
    padding-top: 0.5cm;
    border-radius: 5cm;
    box-shadow:  2px 2px 5px rgba(128, 128, 128, 0.501);

}
.condition > div >a{
    text-decoration: none;
    color: rgb(0, 41, 78);
    font-family:serif;
    font-size: 0.7cm;
    font-weight: 600;
    letter-spacing:1.4px;
}

.condition1{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4cm;
    padding-left: 1.3cm;
}
.condition1>div{
    width: 5.8cm;
    height: 7cm;
    border: 2px solid rgba(208, 188, 188, 0.29);
    border-radius: 9px;
    box-shadow:  5px 5px 5px gray;
    padding-left: 0.3cm;
    padding-right: 0.3cm;
}
.condition1>div>h3{
    font-size: 0.5cm;
    padding-left: 0.3cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.condition1>div>span{
    letter-spacing: 1px;
}
.condition2{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4cm;
    padding-left: 1.3cm;
}
.condition2>div{
    width: 5.8cm;
    height: 7cm;
    border: 2px solid rgba(208, 188, 188, 0.29);
    border-radius: 9px;
    box-shadow:  5px 5px 5px gray;
    padding-left: 0.3cm;
    padding-right: 0.3cm;
}
.condition2>div>h3{
    font-size: 0.5cm;
    padding-left: 0.1cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.condition2>div>span{
    letter-spacing: 1px;
}
.condition3{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4cm;
    padding-left: 1.3cm;
}
.condition3>div{
    width: 5.8cm;
    height: 7cm;
    border: 2px solid rgba(208, 188, 188, 0.29);
    border-radius: 9px;
    box-shadow:  5px 5px 5px gray;
    padding-left: 0.3cm;
    padding-right: 0.3cm;
}
.condition3>div>h3{
    font-size: 0.5cm;
    padding-left: 0.1cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.condition3>div>span{
    letter-spacing: 1px;
}
.condition4{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4cm;
    padding-left: 1.3cm;
}
.condition4>div{
    width: 5.8cm;
    height: 7cm;
    border: 2px solid rgba(208, 188, 188, 0.29);
    border-radius: 9px;
    box-shadow:  5px 5px 5px gray;
    padding-left: 0.3cm;
    padding-right: 0.3cm;
}
.condition4>div>h3{
    font-size: 0.5cm;
    padding-left: 0.1cm;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.condition4>div>span{
    letter-spacing: 1px;
}
